<?xml version="1.0" encoding="utf-8" ?>
<Application.Resources>
	<ResourceDictionary>
		<Application.Resources>
			<Style TargetType="{x:Type CompletionWindow}">
				<Setter Property="Background" Value="White"/>
				<Setter Property="BorderBrush" Value="Gray"/>
				<Setter Property="BorderThickness" Value="1"/>
				<Setter Property="MaxHeight" Value="200"/>
				<Setter Property="MaxWidth" Value="300"/>
				<Setter Property="Padding" Value="4"/>
			</Style>
		</Application.Resources>
	</ResourceDictionary>
</Application.Resources>

